//Widescreens -- EXTRA LARGE
@include mediaXl {
  h1 {
    font-size: 6em;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &.navbar ul {
      display: flex;
      flex-direction: row;
      padding-right: 20px;
    }
  }

  //Hero

  //About
  #about {
    display: flex;
    flex-direction: row;

    .about-container {
      display: flex;
      flex-direction: column;
    }

    .about-info {
      display: flex;
      flex-direction: row;
      margin: 10px;
      padding: 10px;
    }
    .bio-image {
      display: flex;
      flex-direction: row;
      margin: 10px;
    }
    .bio {
      display: flex;
      flex-direction: column;
      // margin: 10px;
      font-size: 20px;
    }
  }

  //Experience
  .job-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .job {
      border: solid 5px $primary-color;
      border-bottom: $tertiary-color solid;
      font-size: 20px;

      .experience-list {
        text-align: center;
        list-style: inside;
      }
    }
   
  }

  //Projects
  .projects {
    margin: 20px;
  }
  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .project.boxes {
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding: 20px;
      font-size: 30px;
    }
  }

  //Contact
  #contact {
    display: flex;
    flex-direction: column;

    .contact.boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      font-size: 30px;
    }
    .contact-email,
    .contact-phone,
    .contact-linkedin {
      width: 100%;
      text-align: center;
    }
  }
}
//Desktops & Laptops -- LARGE
@include mediaLg {
  h1 {
    font-size: 4em;
  }
  //Navbar
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &.navbar ul {
      display: flex;
      flex-direction: row;
    }
  }

  //Main
  .hero {
    &h1,
    &h2 {
      font-size: 8em;
    }
  }
  //About
  #about {
    display: flex;

    .about-container {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }

    .lg-heading.about {
      font-size: 4em;
    }

    .about-info {
      display: flex;
      flex-direction: row;
      // margin: 10px;
    }
    .bio-image {
      display: flex;
      flex-direction: row;
      margin: 10px;
    }
    .bio {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  }
  //Experience
  .job-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .job {
      border: solid 5px $primary-color;
      border-bottom: $tertiary-color solid;
    }
    .experience-list {
      text-align: center;
      list-style: inside;
    }
  }

  //Projects
  // .project {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  // }
  // //Boxes
  // .boxes {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   align-items: center;
  //   margin-top: 1rem;
  // }

  // #contact .contact.boxes {
  //   display: flex;
  //   flex-direction: column;
  //   margin-top: 1rem;
  // }

  //Contact
  #contact {
    .contact.boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 25px;
    }
    .contact-email,
    .contact-phone,
    .contact-linkedin {
      width: 100%;
      text-align: center;
    }
  }
}

//Tablets & Small Laptops -- MEDIUM
@include mediaMd {
  h1 {
    font-size: 3em;
  }
  //Navbar
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &.navbar ul {
      display: flex;
      flex-direction: row;
    }
  }

  //Contact
  #contact {
    .contact.boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

// Cell Phones -- SMALL
@include mediaSm {
  //About
  #about {
    .about-info {
      .bio-image {
        width: 100%;
        padding: 10px;
      }

      .bio {
        text-align: center;
      }
    }
  }
}
