//Widescreens -- EXTRA LARGE
@include mediaXl {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &.navbar ul {
      display: flex;
      flex-direction: row;
      padding-right: 20px;
    }
  }

  //About

  //Experience
  .job-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .job {
      border: solid 5px $primary-color;
      border-bottom: $tertiary-color solid;
      margin-bottom: 20px;
    }
  }

  //Projects
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .projects.project.boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  //Contact
  #contact {
    display: flex;
    flex-direction: column;

    .contact.boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
//Desktops & Laptops -- LARGE
@include mediaLg {
  //Navbar
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &.navbar ul {
      display: flex;
      flex-direction: row;
      // padding-right: 20px;
    }
  }
  //About
  #about {
    display: flex;

    .about-container {
      display: flex;
      flex-direction: column;
    }

    .lg-heading.about {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .about-info {
      display: flex;
      flex-direction: row;
      margin: 10px;
    }
    .bio-image {
      display: flex;
      flex-direction: row;
      margin: 10px;
    }
    .bio {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  }
  //Experience
  .job-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .job {
      border: solid 5px $primary-color;
      border-bottom: $tertiary-color solid;
      margin-bottom: 20px;
    }
  }

  //Projects
  .project {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  //Boxes
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
  }

  #contact .contact.boxes {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}

//Tablets & Small Laptops -- MEDIUM
@include mediaMd {
  //Navbar
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &.navbar ul {
      display: flex;
      flex-direction: row;
      
    }
  }

  //Contact
  #contact {
    .contact.boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

// Cell Phones -- SMALL
@include mediaSm {
  //About
  .bio-image {
    width: 100%;
  }
}
