//Widescreens -- EXTRA LARGE
@include mediaXl {
  #home {
    content: left;
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

}
//Desktops & Laptops -- LARGE
@include mediaLg {
  .about-info {
    display: grid;
    grid-template-areas: "bioimage" "bio";

    grid-template-columns: 1fr;
  }
  .job-experience {
    display: grid;
    grid-template-areas:
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Tablets & Small Laptops -- MEDIUM
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  //About
  .about-info {
    display: grid;
    grid-template-areas:
      "bioimage"
      "bio";
    grid-template-columns: 1fr;
  }

    //Experience
    // .job-experience {
    //   display: grid;
    //   grid-template-areas:
    //     'job1'
    //     'job2'
    //     'job3';

    //   grid-template-columns: 1fr;
    // }
    //Projects
    .projects {
      grid-template-columns: repeat(3 1fr);
    }

}

//Cell Phones -- SMALL
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .navbar {
    display: grid;
    grid-template-rows: 1fr;
  }

  

  // #experience {
  //   display: grid;
  //   grid-template-areas:
    
  //     "job1"
  //     "job2"
  //     "job3";

  //   grid-template-columns: 1fr;
  // }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
