@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

#body {
  // @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Gotham";
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: $additional-color;
  align-items: center;
  text-align: center;

  &.lg-heading {
    font-size: 6rem;
    color: $additional-color;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 3), 0.5);
  }
}

a {
  color: $additonal-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
  // color: $tertiary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}



.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);


  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $tertiary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  h3,
  p,
  ul {
    color: $additional-color;
  }

  h5 {
    text-align: center;
    color: $additional-color;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 3);
    align-content: center;
    padding: 0.5rem;
    border-bottom: $tertiary-color 5px solid;
  }

}

//Work/Projects
.projects {
  display: grid;
  //background: $secondary-color;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
  text-align: center;
  color: $black-color;

  img {
    // display: block;
    max-width: 100%;
    // margin-left: 50%;
    // margin-right: 50%;
    border: 3px #fff solid;
    content: cover;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
 
  }
  .project-cover {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

  }


}

//Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//Button Styles
.button {
  display: block;
  padding: 0.5 rem 1 rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $tertiary-color;
    color: set-text-color($black-color);
  }
}

.button-dark {
  @extend .button;
  background: darken($primary-color, 50);
  color: $additional-color;
}

.button-light {
  @extend .button;
  background: lighten($black-color, 50);
  color: $additional-color;
}

#about-footer,
#work-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
