@import "config";
@import "menu";



* {
  box-sizing: border-box;
}

//Body

#body {
  background: $primary-color;
  color: set-text-color($primary-color);
  font-family: 'Gothic A-1', sans-serif;
}

//Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $additional-color;
  align-items: center;
  text-align: center;
}

a {
  color: $additonal-color;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

//Menu
.navbar {
  background: darken($primary-color, 10);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: inherit;

  li {
    padding: 10px;
    font-size: 18px;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  color: $secondary-color;
}

.nav-item a:hover {
  opacity: 0.3;
  color: $tertiary-color;
  border-color: $secondary-color;
  @include easeOut;
}

//Home
#home {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  .hero {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

//About

#about {
  display: flex;
  flex-direction: column;
  background: $tertiary-color;
  padding-bottom: 40px;

  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-header {
    .lg-heading.about {
      color: $additional-color;
    }

    .text-secondary.about {
      color: $secondary-color;
    }
  }

  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bio-image {
      display: flex;
      border-radius: 50%;
      padding-right: 10px;
    }

    .bio {
      padding: 5px;
      margin: 0 5px 0 5px;
      text-align: left;
      color: $primary-color;
    }
  }
}

//Experience
#experience {
  display: flex;
  flex-direction: column;
  color: $additional-color;
  padding-bottom: 40px;

  .experience-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .experience-header {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .job-experience {
    display: flex;
    flex-direction: column;
  }
  .job {
    background: lighten($primary-color, 3);
    // padding: 0.5rem;
    border-bottom: $tertiary-color 5px solid;
    margin: 20px;
    padding: 10px;
  }

  .job li {
    padding: 10px;
  }
}

//Work and Projects
#work {
  display: flex;
  flex-direction: column;
  background-color: $additional-color;
  padding-bottom: 40px;

  .lg-heading.work {
    color: $primary-color;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
  }

  .project.boxes {
    display: flex;
    flex-direction: column;
  }
}

// .project.boxes {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin: 20px;

// .project-image {
//   max-width: 200px;
//   max-height: 200px;
//   display: flex;
//   flex-direction: column;
// }

//   // img {
//   //   // margin: auto;
//   //   border: 3px #fff solid;
//   //   max-width: 100%;
//   //   height: 100%;
//   //   object-fit: cover;
//   //   align-self: center;

//   //   &:hover {
//   //     opacity: 0.5;
//   //     border-color: $secondary-color;
//   //     color: set-text-color($black-color);
//   //     @include easeOut;
//   //   }
//   // }
// }

//Contact Page

#contact {
  display: flex;
  flex-direction: column;
  
  .contact-container {
    padding-top: 30px;
  }

  .lg-heading.contact {
    margin: 0px;
    padding: 20px;
  }

  .contact.boxes {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    padding-bottom: 50px;
    font-size: 20px;
    &:hover {
      background: $primary-color;
    }
  }

  .contact-phone {
    margin: 10px;
    padding: 10px;
    border: #fff solid;
    &:hover {
      // padding: 0.5rem 1.5;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
  .contact-email {
    margin: 10px;
    padding: 10px;
    border: #fff solid;
    &:hover {
      // padding: 0.5rem 1.5;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
  .contact-linkedin {
    margin: 10px;
    padding: 10px;
    border: #fff solid;
    color: white;
    &:hover {
      // padding: 0.5rem 1.5;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

.boxes {
  width: 100%;
  background: $primary-color;
  border: 3px #fff solid;
  @include easeOut;

  &:hover {
    padding: 0.5rem 1.5;
    background: $secondary-color;
    color: set-text-color($secondary-color);
    span {
      color: set-text-color($secondary-color);
    }
  }
}

//Button Styles
// .button {
//   display: flex;
//   flex-direction: column;
//   flex-basis: 30px;
//   padding: 0.5 rem 1 rem;
//   border: 0;
//   margin-bottom: 0.3rem;
//   &:hover {
//     background: $tertiary-color;
//     color: set-text-color($black-color);
//   }
// }

// .button-dark {
//   @extend .button;
//   background: darken($primary-color, 50);
//   color: $additional-color;
// }

// .button-light {
//   @extend .button;
//   background: lighten($black-color, 50);
//   color: $additional-color;
// }

#about-footer,
#work-footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
